[submodule "3.Implementacao/LFS-backend"]
	path = 3.Implementacao/LFS-backend
	url = https://github.com/Thales-nn/LFS-backend
[submodule "3.Implementacao/LFS-frontend"]
	path = 3.Implementacao/LFS-frontend
	url = https://github.com/Thales-nn/LFS-frontend
